:root {
  --mainbg: #191b28;
  --maintext: #e5dffa69;
}
@font-face {
  font-family: JikiTourai;
  src: url(Fonts/JikiTourai.ttf);
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid rgb(11, 65, 165); */
}
svg {
  fill: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
}
.left {
  float: left;
}
.right {
  float: right;
}
body {
  background-color: var(--mainbg);
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#startPop {
  opacity: 1;
  display: flex;
  position: fixed;
  top: 0px;
  z-index: 10;
  background: linear-gradient(to top left, #191b28, #1e202d, #2a2c39);
  width: 100vw;
  height: 100vh;
  border: 5px solid rgba(255, 255, 255, 0.288);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition:all 2s;
  transition-delay: 3s;
  img {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 100px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.137);
    /* border: 5px solid rgb(255, 255, 255); */
  }
  h2 {
    color: white;
    font-family: JikiTourai;
    font-size: 25px;
    margin-top: 6px;
  }
  h4 {
    color: rgba(244, 240, 255, 0.308);
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
  }
}

#topBar {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 5%;
  /* padding: 0px 20px; */
  h4 {
    color: rgba(244, 240, 255, 0.308);
    font-family: "Open Sans", sans-serif;
  }
  h2 {
    color: white;
    font-family: JikiTourai;
    font-size: larger;
    margin-top: 6px;
  }
  div {
    display: inline-block;
  }
  svg {
    height: 75%;
    width: 75%;
    padding-top: 5px;
  }
  img {
    height: 100%;
    border-radius: 100px;
  }
}
#appTitle {
  width: 135px;
  padding: 0px 10px;
}
.topBarIcon {
  height: 50px;
  width: 50px;
  /* width: clamp(min(10%), 30%, max(50%)); */
  /* height: clamp(min(10%), 30%, max(50%)); */
  /* background-color: rgb(9, 3, 44); */
  border: 2px solid rgba(255, 255, 255, 0.089);
  border-radius: 100px;
  padding: 3px;
  margin: 0px 8px;
  float: right;
  text-align: center;
}

#searchBar {
  background-color: rgba(222, 209, 255, 0.062);
  border: none;
  border-radius: 20px;
  width: 80%;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 0px 20px;
  input,
  svg {
    height: 100%;
    background-color: initial;
    border: none;
  }
  input {
    margin: 0px 10px;
    color: var(--maintext);
    outline: none;
    width: 66%;
    /* border: 1px solid snow; */
  }
}

#bottumBar {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: rgb(25 27 40);
  align-items: center;
  justify-content: center;
  height: 90px;
  box-shadow: rgba(10, 12, 20, 0.726) 0px 0px 35px 35px;
  /* margin-top: 25px; */
  bottom: -1px;
}
.bottumBarDiv {
  width: 50px;
  /* border: 1px solid rgb(16, 142, 245); */
  display: flex;
  justify-content: center;
  margin: 0px 2%;
}
#bottumBar3 {
  /* border: 1px solid rgb(253, 208, 7); */
  width: 50px;
  height: 50px;
  /* margin-bottom: 25px; */
  border-radius: 100%;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgb(240, 170, 165),
    rgb(255, 83, 134),
    rgb(243, 105, 213)
  );
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.185);
}
#bottumTemp{
  width: 100%;
  height: 120px;
}

#musicPlayer {
  border: 2px solid greenyellow;
}

#mainBanner {
  width: 80%;
  /* height: 290px; */
  display: flex;
  margin: auto;
  margin-top: 25px;
  /* border: 2px solid rgba(0, 0, 0, 0.13); */
  /* display: flex; */
  justify-content: center;
  text-align: center;
  background-image: url(Album/1.jpg);
  background-size: cover;
  border-radius: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: #0000004f 0px 0px 20px 5px;
  box-shadow: #0000004f 0px 0px 20px 5px;
  
}
#mainBannerTitle {
  /* border: 2px solid violet; */
  /* margin-top: 185px; */
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 25px;
  /* background-color: rgb(101, 95, 95); */
  text-shadow: 2px 2px 14px rgb(0, 0, 0);
  line-height: 25px;
  h3 {
    z-index: 2;
    /* border: 1px solid rgb(255, 0, 0); */
    font-family: "Open Sans", sans-serif;
    color: rgb(228, 228, 228);
    font-weight: 100;
  }
  h1 {
    z-index: 5;
    /* border: 1px solid rgb(5, 255, 172); */
    font-family: "Rancho", cursive;
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-weight: normal;
  }
}

@media screen and (max-width: 350px) {
  .topBarIcon {
    height: 35px;
    width: 35px;
    margin: 0px 2px;
  }
  #appTitle {
    width: 100px;
    padding: 0px 10px;
  }
  #topBar h4,
  h2 {
    font-size: 15px;
  }
  #searchBar input {
    width: 55%;
  }
}

#musicPlayer {
  border: 2px solid greenyellow;
  height: 450px;
}

/* ??????????  HOTMUSIC SECTION   ???????????????????????????????? */

.cat-Heads {
  /* border: 1px solid red; */
  height: 30px;
  padding: 0px 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  h3{
    font-weight: 100;
    float: left;
    color: rgb(255 255 255 / 50%);
  }
  b{
    color: rgb(255, 255, 255);
  }
  h4 {
    font-weight: bold;
    color: rgb(183 127 205);
    float: right;
  }

}


#musicCatalog{
  display: flex;
  /* border: 2px solid greenyellow; */
  justify-content: space-evenly;
}

.cat-Hot_Music {
  /* border: 2px solid rgb(231, 19, 221); */
  text-align: center;
  img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  h5{
    font-size: 16px;
    margin: 7px 0px;
  }
  h6{
    font-size: 13px;
    color: rgb(255 255 255 / 50%);
  }
}


#SeeAllSong{
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 64, 95);
  /* position:fixed; */
  /* top: 0px; */
  z-index: 5;
  padding: 30px;
}
