:root {
  --mainbg: #191b28;
  --maintext: #e5dffa69;
}
@font-face {
  font-family: JikiTourai;
  src: url(Fonts/JikiTourai.ttf);
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid rgb(11, 65, 165); */
}
svg {
  fill: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
}
.left {
  float: left;
}
.right {
  float: right;
}
body {
  background-color: var(--mainbg);
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#topBar {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 50px;
  /* padding: 0px 20px; */
  h4 {
    color: rgba(244, 240, 255, 0.308);
    font-family: "Open Sans", sans-serif;
  }
  h2 {
    color: white;
    font-family: JikiTourai;
    font-size: larger;
    margin-top: 6px;
  }
  div {
    display: inline-block;
  }
  svg {
    height: 100%;
    width: 100%;
  }
  img {
    height: 100%;
    border-radius: 100px;
  }
}
#appTitle {
  width: 135px;
  padding: 0px 10px;
}
.topBarIcon {
  height: 50px;
  width: 50px;
  /* width: clamp(min(10%), 30%, max(50%)); */
  /* height: clamp(min(10%), 30%, max(50%)); */
  /* background-color: rgb(9, 3, 44); */
  border: 2px solid rgba(255, 255, 255, 0.089);
  border-radius: 100px;
  padding: 3px;
  margin: 0px 8px;
  float: right;
  text-align: center;
}

#searchBar {
  background-color: rgba(222, 209, 255, 0.062);
  border: none;
  border-radius: 20px;
  width: 80%;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 0px 20px;
  input,
  svg {
    height: 100%;
    background-color: initial;
    border: none;
  }
  input {
    margin: 0px 10px;
    color: var(--maintext);
    outline: none;
    width: 66%;
    /* border: 1px solid snow; */
  }
}

#bottumBar {
  display: flex;
  position: fixed;
  bottom: 0px;
  padding-bottom: 20px;
  width: 100%;
  /* background-color: rgba(80, 80, 80, 0.308); */
  /* border: 1px solid white; */
  align-items: center;
  justify-content: center;
}
.bottumBarDiv {
  width: 50px;
  /* border: 1px solid rgb(16, 142, 245); */
  display: flex;
  justify-content: center;
  margin: 0px 2%;
}
#bottumBar3 {
  /* border: 1px solid rgb(253, 208, 7); */
  width: 50px;
  height: 50px;
  /* margin-bottom: 25px; */
  border-radius: 100%;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgb(240, 170, 165),
    rgb(255, 83, 134),
    rgb(243, 105, 213)
  );
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.185);
}

#musicPlayer {
  border: 2px solid greenyellow;
}

#mainBanner {
  width: 80%;
  height: 290px;
  display: block;
  margin: auto;
  margin-top: 25px;
  border: 2px solid rgba(0, 0, 0, 0.13);
  /* display: flex; */
  justify-content: center;
  text-align: center;
  background-image: url(Album/1.jpg);
  background-size: cover;
  border-radius: 50px;
}

#mainBannerTitle {
  /* border: 2px solid violet; */
  margin-top: 185px;

  text-shadow: 2px 2px 14px rgb(0, 0, 0);
  h3 {
    z-index: 2;
    /* border: 1px solid rgb(71, 0, 0); */
    font-family: "Open Sans", sans-serif;
    color: rgb(212, 212, 212);
    height: 20px;

    /* height: 30px; */
    /* width: 100%; */
    /* height: 18px; */
  }
  h1 {
    z-index: 5;
    /* border: 1px solid rgb(0, 82, 54); */
    height: 15px;
    font-family: "Rancho", cursive;
    font-size: 42px;
    font-weight: normal;
    /* height: 30px; */
    /* width: 100%; */
  }
}

@media screen and (max-width: 350px) {
  .topBarIcon {
    height: 35px;
    width: 35px;
    margin: 0px 2px;
  }
  #appTitle {
    width: 100px;
    padding: 0px 10px;
  }
  #topBar h4,
  h2 {
    font-size: 15px;
  }
  #searchBar input {
    width: 55%;
  }
}
